{
  "applinks": {
    "apps": [],
    "details": [
      {
        "appID": "TEAMID.com.palsasafar",
        "paths": ["*", "/place/*", "/trip/*", "/offer/*", "/vendor/*", "/creator/*"]
      }
    ]
  }
}
